---
import BaseHead from "../../../components/BaseHead.astro";
import Header from "../../../components/Header.astro";
import Footer from "../../../components/Footer.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title="Dead Friends" description="What?" />
  </head>
  <body class="bg-red-400">
    <main>
      <div class="flex">
        <div></div>
      </div>
    </main>
  </body>
</html>
