---
const footers = [
	"Making the internet wierd again",
	"Established in the 80s",
	"These are random",
	"ChatGPT wrote this one",
	"I like to choke a man with his own Gi"
];

const footer = footers[Math.floor(Math.random() * footers.length)];
---

<footer>
	<p>{footer}</p>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
