---
const footers = [
  "Making the internet weird again",
  "Established in the 80s",
  "These are random",
  "ChatGPT wrote this one",
  "I like to choke a man with his own Gi",
  "Chandler Bing is Dead.",
];

const footer = footers[Math.floor(Math.random() * footers.length)];
---

<footer class="no-print">
  <p>{footer}</p>
</footer>
<style>
  footer {
    padding: 25px;
    text-align: center;
  }
</style>
