---
const { dates } = Astro.props;
---

<div class="stamp hidden sm:inline-block">{dates}</div>

<style>
  .stamp {
    transform: rotate(351deg);
    color: #555;
    font-size: 1.2rem;
    font-weight: 700;
    border: 0.25rem solid #555;
    padding: 0.25rem 1rem;
    text-transform: uppercase;
    border-radius: 1rem;
    font-family: "Courier";
    -webkit-mask-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png");
    -webkit-mask-size: 944px 604px;
    mix-blend-mode: multiply;
    position: absolute;
    right: 0px;
  }
</style>
